*{
    margin: 0;
    padding: 0;
}

.landing--container{
    color: white;
    height: 100vh;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('./imagebackground.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

}
.landing--container h2{
    accent-color: 20px;
    font-size: 45px;
    font-weight: bolder;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.button--container{
    display: flex;
    gap: 100px;
   
}
.button--landing{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px white;
    width: 170px;
    filter: drop-shadow(20px 5px 4px gray);

}

@media only screen and (max-width: 900px) {
    .button--container{
        display: flex;
        gap: 50px;
       
    }
    .landing--container{
        color: white;
        height: 100vh;
        text-align: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: url('./imagebackground.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
    }
    }